/* drop.css */

.drop {

}

input.drop.active {
	background-color: red;
}

.drop.inactive {
	background-color: blue;
}

.editable .drop {

}

input {
	height: 1em;
	width: 1.5em;
	/*font-size: 2em;*/
}

input.int {

}
