/* drop.css */

.drop {

}

input.drop.active {
	width: 4em;
	height: 4em;
	background-color: red;
}

.drop.inactive {
	background-color: blue;
}

.editable .drop {

}

input {
	/*font-size: 2em;*/
	width: 1em;
}

input.int {

}
